html
  body
    section#design
      .container-fluid
        .row
          .col-xs-24.col-sm-18.col-sm-offset-2.col-md-9.col-md-offset-2.col-xs-offset-0.woven
            .pattern-type-title
              | Woven
            .patterns-container
              -if(colours && colours.colours)      
                each colour, key in colours.colours
                  
                  each tag, key in colour.tags
                    -if(tag == "woven")
                      -if(!colour.name.endsWith("1"))
                        .small-container
                          img(data-original=colour.image, data-original-set=colour.image + ', ' + colour.image, sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name)
                          img(data-original= colour.image, data-original-set= colour.image +', ' + colour.image , sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name).nd-img
                          .material-name= colour.name
                      
                
                
                
          .col-xs-24.col-sm-18.col-sm-offset-1.col-md-9.col-md-offset-1.col-xs-offset-0.designer
            .pattern-type-title
              | Designer
            .patterns-container
              -if(colours && colours.colours)      
                each colour, key in colours.colours
                  
                  each tag, key in colour.tags
                    -if(tag == "designer")
                      -if(!colour.name.endsWith("1"))
                        .small-container
                          img(data-original=colour.image, data-original-set=colour.image + ', ' + colour.image, sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name).designer
                          img(data-original= colour.image, data-original-set= colour.image +', ' + colour.image , sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name).nd-img.designer
                          .material-name= colour.name
                        
                        
        .row  
          .col-xs-24.col-sm-18.col-sm-offset-2.col-md-9.col-md-offset-2.col-xs-offset-0.woven
            .pattern-type-title
              | Gradients
            .patterns-container
              -if(colours && colours.colours)      
                each colour, key in colours.colours
                  
                  each tag, key in colour.tags
                    -if(tag == "gradient")
                      -if(!colour.name.endsWith("1"))
                        .small-container
                          img(data-original=colour.image, data-original-set=colour.image + ', ' + colour.image, sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name)
                          img(data-original= colour.image, data-original-set= colour.image +', ' + colour.image , sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name).nd-img
                          .material-name= colour.name
          
      
      
          .col-xs-24.col-sm-18.col-sm-offset-2.col-md-9.col-md-offset-2.col-xs-offset-0.woven
            .pattern-type-title
              | Square
            .patterns-container
              -if(colours && colours.colours)      
                each colour, key in colours.colours
                  
                  each tag, key in colour.tags
                    -if(tag == "square")
                      -if(!colour.name.endsWith("1"))
                        .small-container
                          img(data-original=colour.image, data-original-set=colour.image + ', ' + colour.image, sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name)
                          img(data-original= colour.image, data-original-set= colour.image +', ' + colour.image , sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name).nd-img
                          .material-name= colour.name
                      
                      
        //- .row      
        //-   .col-xs-24.col-sm-18.col-sm-offset-2.col-md-9.col-md-offset-2.col-xs-offset-0.woven
        //-     .pattern-type-title
        //-       | All
        //-     .patterns-container
                
        //-       each colour, key in colours.colours
        //-         
        //-         each tag, key in colour.tags
        //-           -if(tag == "all")
        //-             -if(!colour.name.endsWith("1"))
        //-               .small-container
        //-                 img(data-original=colour.image, data-original-set=colour.image + ', ' + colour.image, sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name)
        //-                 img(data-original= colour.image, data-original-set= colour.image +', ' + colour.image , sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name).nd-img
        //-                 .material-name= colour.name
        //- 
