html
	body
		section#Shop
			.container-fluid
				.row.title-row
					.col-lg-23.col-lg-offset-1.col-md-23.col-md-offset-1.col-sm-24.title-col
						.title-container
							.shop-title Lettinis
							.tags-container
								//- h5 filter by
								h4(style="text-align: left; font-family: futura-lt-heavy") Colours
								.tags#colourTags
									.tag.btn#colourful(onclick="filterProductsByColour(this)")
										text colourful
									.tag.btn#light(onclick="filterProductsByColour(this)")
										text light
									.tag.btn#dark(onclick="filterProductsByColour(this)")
										text dark
									.tag.btn#gradients(onclick="filterProductsByColour(this)")
										text gradients
									.tag.btn#linear(onclick="filterProductsByColour(this)")
										text linear
									.tag.btn#all.activeTag(onclick="filterProductsByColour(this)")
										text all
								h4(style="text-align: left; font-family: futura-lt-heavy") Frame finishes
								.tags#frameTags
									.tag.btn#Silver(onclick="filterProductsByFrame(this)")
										text silver
									.tag.btn#White(onclick="filterProductsByFrame(this)")
										text white
									.tag.btn#Bronze(onclick="filterProductsByFrame(this)")
										text bronze
									.tag.btn.activeTag#all(onclick="filterProductsByFrame(this)")
										text all
				.row.shop-products
					.col-lg-23.col-lg-offset-1.col-md-23.col-md-offset-1.col-sm-24.shop-products-column#products
						-var colourful = ['BOUSC', 'GIASC', 'SGGSC', 'SLISC', 'SRGSC', 'SVBSC']
						-var light = ['AWASC', 'BAISC', 'ECRWC', 'JERSC', 'MERSC', 'MOSSC', 'TUNSC', 'TWIBC', 'TWIWC', 'BIASC', 'FANWC']
						-var dark = ['GRISC', 'VERSC']
						-var gradients = ['BOUSC', 'SBCSC', 'SGGSC', 'SRGSC', 'SVBSC']
						-var linear = ['BOUSC', 'DESSC', 'SBCSC', 'SGGSC', 'SLISC', 'SRGSC', 'SBBSC', 'SVBSC']
						-var toIgnore = ['BIASC','FANWC','SBBSC','SVBSC']
						
						each product, key in products
							-var tags = 'all'
							-if(toIgnore.indexOf(product.sku) > -1)
								-var order = 2
							-else
								-var order = 1
							-if(colourful.indexOf(product.sku) > -1)
								-var tags = tags + ' colourful'
							-if(light.indexOf(product.sku) > -1)
								-var tags = tags + ' light'
							-if(dark.indexOf(product.sku) > -1)
								-var tags = tags + ' dark'
							-if(gradients.indexOf(product.sku) > -1)
								-var tags = tags + ' gradients'
							-if(linear.indexOf(product.sku) > -1)
								-var tags = tags + ' linear'
							-var tags = tags + ' '+product.finish
							.product-container.clearfix(id=product.sku, style="order: "+order+";", data-tags= tags)
								//- span= product.sku
								a.product-img-container(href="/shop/lettinis/"+ product.sku)
									.product-img-wrapper
										.two-view-buttons
											i.fa.fa-search
										img(data-original='/img/shop/lettinis/400x/'+product.sku+'/thumb.jpg').product-img
								.product-details
									.product-header
										//- span.p-title= 'Lettini in ' + product.finish + ' with our ' + product.colour + ' woven fabric'
										span.p-title= product.colour + ' Lettini'
										//- span.p-title= product.sku
										span.price= product.formatted_price
											//- i.space +
											//- i.fa.fa-local-shipping
									.options
										p(style="padding-left: 3px; font-size: 1.2rem; padding-top: 5px; font-family: futura-lt-heavy") Options:
										.finish
											.finish-circle(style="background: url(/img/finishes/thumb/"+ encodeURIComponent(product.finish.trim()) + ".png)")
											span(style="margin-left: -2px")= product.finish
										.pattern-option
											.pattern-circle(style="background: url(/img/colours/150x/" + encodeURIComponent(product.colour.trim()) + ".jpg)")
											span= product.colour
											//- span= product.available
											//- .cart-root
											//-   .cart-circle(id= product.id + "-" +product.variantId)
											//-     i.fa.fa-cart-arrow-down
											//-   span add
											
										//- .buttons
										.two-buttons(id= product.id + '-' + product.variantId)
											-if(product.available == false)
												.order-button.soldout
													| sold out
											-else
												.order-button
													| add to cart
											//- a(href="/shop/lettinis/"+product.sku).btn
											//- 	.view-button
											//- 		| view
											
							//- .shop-cart-button
											i.fa.fa-shopping-cart
				.row
					.col-lg-23.col-lg-offset-1.col-md-23.col-md-offset-1.col-sm-24.shop-products-column#noProducts
						.no-products.hidden
							h4 Unfortunately no products match your search, please try filtering again
