html
  body
    section#design
      .container-fluid
        .row
          .col-xs-24.col-sm-18.col-sm-offset-2.col-md-9.col-md-offset-2.col-xs-offset-0.woven
            .pattern-type-title
              | Woven
              
            .patterns-container
              each colour, colourKey in colours.colours
                each variant, key in products.variants
                  each tag, tagKey in colour.tags
                    -if(tag == "woven")
                      -if(variant.option_values[1].value === colour.name)
                        //- span= variant.option_values[1].value + ' ' + colour.name
                        -if(!colour.name.endsWith("1"))
                          
                          .small-container
                            img(data-original=colour.image, data-original-set=colour.image + ', ' + colour.image, sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name)
                            .sub-section
                              img(data-original= colour.image, data-original-set= colour.image +', ' + colour.image , sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name).nd-img
                              .material-name= colour.name
                          -break
                                      
          .col-xs-24.col-sm-18.col-sm-offset-2.col-md-9.col-md-offset-2.col-xs-offset-0.woven
            .pattern-type-title
              | Gradients
            .patterns-container
              each colour, colourKey in colours.colours
                each variant, key in products.variants
                  each tag, tagKey in colour.tags
                    -if(tag == "gradient")
                      -if(variant.option_values[1].value === colour.name)
                        //- span= variant.option_values[1].value + ' ' + colour.name
                        -if(!colour.name.endsWith("1"))
                          
                          .small-container
                            img(data-original=colour.image, data-original-set=colour.image + ', ' + colour.image, sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name)
                            .sub-section
                              img(data-original= colour.image, data-original-set= colour.image +', ' + colour.image , sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name).nd-img
                              .material-name= colour.name
                          -break
          
      
      
          .col-xs-24.col-sm-18.col-sm-offset-2.col-md-9.col-md-offset-2.col-xs-offset-0.woven
            .pattern-type-title
              | Square
            .patterns-container
              each colour, colourKey in colours.colours
                each variant, key in products.variants
                  each tag, tagKey in colour.tags
                    -if(tag == "square")
                      -if(variant.option_values[1].value === colour.name)
                        //- span= variant.option_values[1].value + ' ' + colour.name
                        -if(!colour.name.endsWith("1"))
                          
                          .small-container
                            img(data-original=colour.image, data-original-set=colour.image + ', ' + colour.image, sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name)
                            .sub-section
                              img(data-original= colour.image, data-original-set= colour.image +', ' + colour.image , sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name).nd-img
                              .material-name= colour.name
                          -break
                      
                      
        //- .row      
        //-   .col-xs-24.col-sm-18.col-sm-offset-2.col-md-9.col-md-offset-2.col-xs-offset-0.woven
        //-     .pattern-type-title
        //-       | All
        //-     .patterns-container
        //-       each colour, key in colours.colours
        //-         
        //-         each tag, tagKey in colour.tags
        //-           -if(tag == "all")
        //-             -if(!colour.name.endsWith("1"))
        //-               .small-container
        //-                 img(data-original=colour.image, data-original-set=colour.image + ', ' + colour.image, sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name)
        //-                 img(data-original= colour.image, data-original-set= colour.image +', ' + colour.image , sizes='100vw, 100vw', alt='Lettini Sun Lounger with canopy Colour Option ' + colour.name).nd-img
        //-                 .material-name= colour.name
        //- 
